.hide {
    display: none;
  }
  
  .weather-header {
    background: rgb(52,97,186);
    background: linear-gradient(90deg, rgba(52,97,186,1) 0%, rgba(43,57,135,1) 45%, rgba(32,11,77,1) 100%);
  }
  
  #form-heading {
    background: #fff;
    padding: 15px 0;
  }
  
  .input-group-append {
    width: 100%;
  }
  
  .search-button {
    width: 100%;
  }
  
  #forecast h3 {
    background: #fff;
  }
  
  
  .hide {
    display: none;
  } 